<div class="container">
    <div class="row">

        <div [ngClass]="{'profile':default}" class="col col-xl-6">
            <img src="/assets/aboutMe/Group 1000015845.svg" alt="">


        </div>

        <div class="col col-xl-6 text-start p-">

            <div class="mb-5">
                <h1><span class="small">About</span> <span class="big"> Me</span>
                </h1>
            </div>

            <div>
                <p [ngClass]="{'oppo':default}">{{para1}}</p>
                <p [ngClass]="{'oppo':default}">{{para2}}</p>
                <p [ngClass]="{'oppo':default}">{{para3}}</p>

            </div>

        </div>





    </div>
</div>