<div id="experience" [ngClass]="{'color1':color}" class="text-white ">


    <h1 class="text-center mb-5 py-5"> <span [ngClass]="{'font':color}">My</span> <span [ngClass]="{'font1':color}">
            Experience</span> </h1>

    <div class="row row-cols-1 justify-content-center row-gap-4">


        <div [ngClass]="{'card1':color}" class="card col p-3">


            <div class="d-flex  ">
                <img class="" src="/assets/experience/google.svg" width="50" height="25" alt="">

                <h5 class="card-title mx-3" [ngClass]="{'font1':color}">Lead Software Engineer at Google</h5>
                <div class="d-flex ms-auto">
                    <p class="card-text1">Nov 2019 - Present</p>
                </div>




            </div>
            <div class="p-2">
                <p [ngClass]="{'card-text':color}" class="card-text ">
                    As a Senior Software Engineer at Google, I played a pivotal role in developing innovative solutions
                    for Google's core search algorithms. Collaborating with a dynamic team of engineers, I contributed
                    to the enhancement of search accuracy and efficiency, optimizing user experiences for millions of
                    users worldwide.
                </p>
            </div>
        </div>

        <div [ngClass]="{'card1':color}" class="card col p-3">


            <div class="d-flex  ">
                <img class="" src="/assets/experience/apple.svg" width="50" height="25" alt="">

                <h5 class="card-title mx-3" [ngClass]="{'font1':color}">Software Engineer at Youtube</h5>
                <div class="d-flex ms-auto">
                    <p class="card-text1">Jan 2017 - Oct 2019</p>
                </div>




            </div>
            <div class="p-2">
                <p [ngClass]="{'card-text':color}" class="card-text ">
                    At Youtube, I served as a Software Engineer, focusing on the design and implementation of backend
                    systems for the social media giant's dynamic platform. Working on projects that involved large-scale
                    data processing and user engagement features, I leveraged my expertise to ensure seamless
                    functionality and scalability.
                </p>
            </div>
        </div>

        <div [ngClass]="{'card1':color}" class="card col p-3">


            <div class="d-flex  ">
                <img class="" src="/assets/experience/youtube.svg" width="50" height="25" alt="">

                <h5 class="card-title mx-3" [ngClass]="{'font1':color}">Junior Software Engineer at Apple</h5>
                <div class="d-flex ms-auto">
                    <p class="card-text1">Jan 2016 - Dec 2017</p>
                </div>




            </div>
            <div class="p-2">
                <p [ngClass]="{'card-text':color}" class="card-text ">
                    During my tenure at Apple, I held the role of Software Architect, where I played a key role in
                    shaping the architecture of mission-critical software projects. Responsible for designing scalable
                    and efficient systems, I provided technical leadership to a cross-functional team.
                </p>
            </div>
        </div>


    </div>


</div>