<div class="main">


    <h1 class="text-center mb-5"><span [ngClass]="{'bto':condition}">My</span> <span [ngClass]="{'bto1':condition}">
            Skills</span></h1>

    <div class="row row-cols-5 justify-content-evenly mb-4">

        <div [ngClass]="{'col1':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-cypress.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">cypress</p>
        </div>
        <div [ngClass]="{'col1':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-figma.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">figma</p>
        </div>
        <div [ngClass]="{'col1':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-git.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">git</p>
        </div>
        <div [ngClass]="{'col1':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-javscript.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">jScript</p>
        </div>
        <div [ngClass]="{'col1':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-mongodb.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">mongodb</p>
        </div>

    </div>

    <div class="row row-cols-5 justify-content-evenly">

        <div [ngClass]="{'col2':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-nest.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">nest</p>
        </div>
        <div [ngClass]="{'col2':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-nextjs.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">nextjs</p>
        </div>
        <div [ngClass]="{'col2':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-nodejs.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">nodejs</p>
        </div>
        <div [ngClass]="{'col2':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-react.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">react</p>
        </div>
        <div [ngClass]="{'col2':condition}" class="card text-center p-4"> <img class="card-img-top mb-3"
                src="/assets/mySkill/icon-typescript.svg" height="35" alt="">
            <p [ngClass]="{'car':condition}" class="card-text">tScript</p>
        </div>

    </div>

</div>