<div class="main container ">

    <div class="row">



        <div class="col col-xl-7 ">

            <div class="stp">
                <h1 [ngClass]="{'text':condition}" class="mb-5"><span [ngClass]="{'lite':condition}">Hello I’am</span>
                    <span [ngClass]="{'dark':condition}"> Evren Shah.</span> <br>
                    <span [ngClass]="{'dark':condition}">Frontend</span>
                    <span [ngClass]="{'outline':condition}">
                        < Developer>
                    </span> <br>
                    <span [ngClass]="{'lite':condition}">Based In</span>
                    <span [ngClass]="{}"> India.</span>
                </h1>


                <p [ngClass]="{'para1':condition}">I'm <span [ngClass]="{'name1':hoverd}" (mouseenter)="onMouseOver()"
                        (mouseleave)="onMouseLeave()">Kalidhas
                        Vadivel</span>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard <br> dummy text ever since the 1500s, when an unknown printer took
                    a <br>

                    galley of type and scrambled it to specimen book.
                </p>
            </div>

            <div class=" d-flex gap-5">
                <button [ngClass]="{'bto':condition, 'bto1':hoverd1}" (mouseenter)="over()" (mouseleave)="out()"
                    class="btn"><img src="/assets/homepage/Social icon.svg" alt=""></button>
                <button [ngClass]="{'bto':condition, 'bto1':hoverd1}" (mouseenter)="over()" (mouseleave)="out()"
                    class="btn"><img src="/assets/homepage/Social icon (2).svg" alt=""></button>

                <button [ngClass]="{'bto':condition, 'bto1':hoverd1}" (mouseenter)="over()" (mouseleave)="out()"
                    class="btn"><img src="/assets/homepage/Social icon (3).svg" alt=""></button>

                <button [ngClass]="{'bto':condition, 'bto1':hoverd1}" (mouseenter)="over()" (mouseleave)="out()"
                    class="btn"><img src="/assets/homepage/Social icon (4).svg" alt=""></button>

            </div>

        </div>


        <div class=" main-page col col-xl-5 ">


            <div class="mb-5">
                <img src="/assets/homepage/Banner (1).svg" width="100%" height="100%" alt="">
            </div>

            <div class=" d-flex justify-content-center mb-4  ">
                <button class="btn"><img [ngClass]="{'opposite':condition}"
                        src="/assets/homepage/arrow-right-double.svg" width="30" alt=""></button>

                <button class="btn"><img src="/assets/homepage/box-code.svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/braces-alt.svg" width="30" alt=""></button>

                <button class="btn"><img src="/assets/homepage/code-branches.svg" width="30" alt=""></button>

                <button class="btn"><img src="/assets/homepage/code-merge.svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/scroll-horizontal (1).svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/window-code.svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/arrow-right-double.svg" width="30" alt=""></button>


            </div>
            <div class=" d-flex justify-content-around  ">
                <button class="btn"><img [ngClass]="{'opposite':condition}"
                        src="/assets/homepage/arrow-right-double.svg" width="30" alt=""></button>

                <button class="btn"><img src="/assets/homepage/box-code.svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/braces-alt.svg" width="30" alt=""></button>

                <button class="btn"><img src="/assets/homepage/code-branches.svg" width="30" alt=""></button>

                <button class="btn"><img src="/assets/homepage/code-merge.svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/scroll-horizontal (1).svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/window-code.svg" width="30" alt=""></button>
                <button class="btn"><img src="/assets/homepage/arrow-right-double.svg" width="30" alt=""></button>


            </div>



        </div>

    </div>

</div>